<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h1 style="text-align: center;">STOCK MARKET RESEARCH</h1>
<!-- upper nav bar start -->
<nav class="navbar navbar-light" style="background-color: #34c0c7">
    <marquee width="100%" direction="left" height="33px"  loop="infinite" style="font-size:x-large; color:black; ">
        <b>The money-making factory !! &nbsp; 
            The real earning starts here </b>    
    </marquee>

</nav>
<div class="header">
    <a href="#default" class="logo">Shree Mahalaxhmi Research </a>
    <div class="header-right">
        <b><a href="#home">Home</a></b>
        <b><a routerLink="/clogin">About us</a></b>
        <b><a routerLink="/company">services</a></b>
        <b><a href="mailto:canteenmanagementsystem.364@gmail.com">
      Contact</a></b>
        <a routerLink="/clogin" style="font-weight: bold;">Login</a>
    </div>
</div>
<hr>